html,
body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #c9d1d9;
  background-color: #0d1117;
}

ul {
  list-style: none;
  display: flex;
  font-size: 1.3rem;
  padding: 0.5rem;
}

li {
  padding-left: 1rem;
}

#list {
  display: flex;
  padding-left: 1rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: normal;
  margin: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: justify;
  margin: 1rem;
}

p {
  text-align: justify;
  font-size: 2rem;
  color: #f0f6fc;
  margin: 10rem;
}

footer {
  font-size: 0.1rem;
  text-align: center;
  background-color: #161b22;
  margin-right: 0;
  height: 2rem;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0d1117;
  margin-right: 0;
}

#navbar {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  background-color: #161b22;
  top: 0;
  right: 0;
}

#navbar a {
  text-decoration: none;
  color: #f0f6fc;
}

#navbar a:hover {
  color: gray;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #161b22;
  margin-right: 0;
}

#projects h2 {
  margin-bottom: 12rem;
  margin-top: 03rem;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0d1117;
  font-size: 2rem;
  margin-right: 0;
  margin-bottom: 1rem;
}

#mail-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin: 0rem;
}

#contact-buttons {
  justify-content: space-between;
}

#contact h2 {
  font-size: 4rem;
  margin-bottom: 5rem;
  margin-top: 0;
}

#contact-form {
  margin-bottom: 2rem;
}

#contact-title {
  margin-top: 12rem;
}

#img-wip {
  width: 20%;
}
.buttons {
  background-color: transparent;
  border-color: transparent;
  margin-top: 1rem;
  transition: all 0.6s ease-in-out;
}

.fab {
  font-size: 3rem;
  color: #f0f6fc;
}
.fas {
  font-size: 3rem;
  color: #f0f6fc;
}

.buttons :hover {
  transform: scale(1.1);
  color: #74777a;
}

footer p {
  font-size: 1rem;
  text-align: center;
}

textarea {
  width: 15.5rem;
}

#message_text {
  color: #f0f6fc;
}

.all-projects {
  display: flex;
  margin-top: 4rem;
}

.project-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.submit-button {
  padding: 8px 15px;
  background: #21262d;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #c9d1d9;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    text-align: justify;
    font-size: 1rem;
    margin: 1rem;
  }

  ul {
    padding: 0rem;
    font-size: 1rem;
  }
  li {
    padding-left: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    text-align: justify;
    font-size: 2rem;
    margin: 1rem;
  }

  ul {
    padding: 0rem;
    font-size: 1rem;
  }
  li {
    padding-left: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
