html,
body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  overflow-x: hidden;
  color: #c9d1d9;
  background-color: #0d1117;
}

ul {
  list-style: none;
  display: flex;
  font-size: 1.3rem;
  padding: 0.5rem;
}

li {
  padding-left: 1rem;
}

#list {
  display: flex;
  padding-left: 1rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: normal;
  margin: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: justify;
  margin: 1rem;
}

p {
  text-align: justify;
  font-size: 1.5rem;
  color: #f0f6fc;
  margin-left: 10rem;
  margin-right: 10rem;
}

footer {
  font-size: 0.1rem;
  text-align: center;
  background-color: #161b22;
  margin-right: 0;
  height: 2rem;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0d1117;
  margin-right: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #161b22;
  top: 0;
  right: 0;
}

#navbar a {
  text-decoration: none;
  color: #f0f6fc;
}

#navbar a:hover {
  color: gray;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0d1117;
  margin-right: 0;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #161b22;
  margin-right: 0;
}

#projects h2 {
  font-size: 3rem;
  margin-top: 7rem;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0d1117;
  font-size: 2rem;
  margin-right: 0;
  margin-bottom: 1rem;
}

#mail-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin: 0rem;
}

#contact-buttons {
  justify-content: space-between;
}

#contact h2 {
  font-size: 3rem;
  margin-top: 4rem;
}

#contact-form {
  margin-bottom: 2rem;
}

#contact-title {
  margin-top: 12rem;
}

img {
  width: 25rem;
  height: 25rem;
  vertical-align: middle;
  border-radius: 15px;
}

.buttons {
  background-color: transparent;
  border-color: transparent;
  margin-top: 1rem;
  transition: 0.1s linear;
}

.fab {
  font-size: 3rem;
  color: #f0f6fd;
}
.fas {
  font-size: 3rem;
  color: #f0f6fc;
}

.buttons:hover {
  transform: scale(1.2);
  color: #2f353c;
}

footer p {
  font-size: 1rem;
  text-align: center;
}

textarea {
  width: 15.5rem;
}

#message_text {
  color: #f0f6fc;
}

.all-projects {
  max-width: 1000px;
  position: relative;
  margin: 3rem 100%;
}

.projects-slide {
  display: none;
}

.project-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

textarea {
  resize: none;
  height: 8rem;
}

.submit-button,
.projects-button {
  padding: 8px 15px;
  background: #21262d;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  color: #c9d1d9;
  margin-top: 1rem;
}

.submit-button:hover,
.projects-button:hover {
  background-color: #30363d;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#dot-container {
  text-align:center"
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.projects-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.projects-text a {
  text-decoration: none;
  color: #f0f6fc;
}

#cv-button {
  font-size: 1.3rem;
  padding: 8px 15px;
  background: #356feb;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  color: #c9d1d9;
  margin: 1rem;
}

#cv-button:hover {
  background-color: #3464cc6c;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  #projects h2 {
text-align: center;  }

  p {
    text-align: justify;
    font-size: 1rem;
    margin: 1rem;
  }

  ul {
    padding: 0rem;
    font-size: 1rem;
  }
  li {
    padding-left: 1rem;
  }

  #cv-button {
    width: 11rem;
    height: 1.3rem;
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
