@use "@styles/utilities/variables";

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

.hero__title {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.hero__text1 {
  margin-bottom: 0;
  text-align: center;
}

.hero__text2 {
  margin-top: 0;
  text-align: center;
}

.hero__text__span.light {
  color: variables.$accent;
}

.hero__text__span.dark {
  color: variables.$accent-dark;
}

.hero__img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}

@media screen and (min-width: 769px) {
  .hero__container {
    max-width: 60%;
  }
  .hero__title {
    font-size: 5.5rem;
    font-weight: 600;
  }
  .hero__img {
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
  }
}
