.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

.hero__title {
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.hero__text1 {
  margin-bottom: 0;
  text-align: center;
}

.hero__text2 {
  margin-top: 0;
  text-align: center;
}

.hero__img {
  border-radius: 50%;
  width: clamp(14rem, 50vw, 20rem);
  height: clamp(14rem, 50vw, 20rem);
}

@media screen and (min-width: 769px) {
  .hero__container {
    max-width: 60%;
  }
}

@media screen and (min-width: 641px) {
  .hero__img {
    border-radius: 50%;
    width: clamp(20rem, 18vw, 25rem);
    height: clamp(20rem, 18vw, 25rem);
  }
}
