@use '../utilities/variables';

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

.hero__title {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.hero__text {
  text-align: center;
}

.hero__text__span.light {
  color: variables.$accent;
}

.hero__text__span.dark {
  color: variables.$accent-dark;
}

@media screen and (min-width: 769px) {
  .hero__container {
    max-width: 60%;
  }
  .hero__title {
    font-size: 5.5rem;
    font-weight: 600;
  }
}
