@use '../utilities/variables';
@use '../utilities/mixins';

.header {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: inherit;
}

.header__nav_list {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

//.header__nav__list_item {
//}

.header__nav__list__item_anchor {
  text-decoration: none;
  color: inherit;
}

.dark {
  @include mixins.theme(variables.$surface-dark, inherit);
}

.light {
  @include mixins.theme(variables.$surface, inherit);
}
