@use '@styles/utilities/variables';
@use '@styles/utilities/mixins';

.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(15px); /* Adjust the blur amount as needed */
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: inherit;
}

.header__nav_list {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin: 0;
}

.header__nav_list__options {
  display: flex;
  margin: 0;
  li {
    display: flex;
  }
}

//.header__nav__list_item {
//}

.header__nav__list__item_anchor {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
  &::selection {
    color: red;
  }
}

.dark {
  @include mixins.theme(variables.$surface-dark, inherit, null);
  a {
    @include mixins.underline-effect('dark', true, 2px);
  }
}

.light {
  @include mixins.theme(variables.$surface, inherit, null);
  a {
    @include mixins.underline-effect('light', true, 2px);
  }
}
