@use '@styles/utilities/variables';
@use '@styles/utilities/mixins';

.projects {
  scroll-margin-top: 4.5rem;
  max-width: 90%;
  margin: auto;

  h2 {
    margin-bottom: 0;
  }
  p {
    text-align: center;
  }
}

.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link__text__accent.dark {
  color: variables.$accent-dark;
  font-weight: bold;
  @include mixins.underline-effect('dark', true, 1px);
}

.link__text__accent.light {
  color: variables.$accent;
  @include mixins.underline-effect('light', true, 1px);
}
