.projects {
  max-width: 95%;

  h2 {
    font-size: 2.8rem;
    margin-bottom: 0;
  }
  p {
    text-align: center;
  }

  @media screen and (min-width: 769px) {
    h2 {
      font-size: 3rem;
    }
  }
}

.link__text__accent {
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}
