@use '@styles/utilities/variables';
@use '@styles/utilities/mixins';

.projects {
  scroll-margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: inherit;

  h2 {
    font-size: 2.8rem;
    margin-bottom: 0;
  }
  p {
    text-align: center;
  }

  @media screen and (min-width: 769px) {
    h2 {
      font-size: 3rem;
    }
  }
}

.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

.link__text__accent.dark {
  color: variables.$accent-dark;
  font-weight: bold;
  @include mixins.underline-effect('dark', true, 1px);
}

.link__text__accent.light {
  color: variables.$accent;
  font-weight: bold;
  @include mixins.underline-effect('light', true, 1px);
}
