@use '@styles/utilities/variables';

@mixin theme($background-color, $text-color, $bg-radial-color) {
  color: $text-color;
  &.bg {
    background: radial-gradient(
      circle 500px at 50% 50%,
      ($bg-radial-color),
      ($background-color)
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  transition: all 500ms;
}

@mixin button($variant, $theme) {
  @if ($theme == 'light') {
    @if ($variant == 'primary') {
      color: variables.$primary-foreground;
      background-color: variables.$primary;
      &:hover {
        background-color: variables.$primary-hover;
      }
    } @else {
      color: variables.$secondary-foreground;
      background-color: variables.$secondary;
      &:hover {
        background-color: variables.$secondary-hover;
      }
    }
  } @else {
    @if ($variant == 'primary') {
      color: variables.$primary-foreground-dark;
      background-color: variables.$primary-dark;
      &:hover {
        background-color: variables.$primary-hover-dark;
      }
    } @else {
      color: variables.$secondary-foreground-dark;
      background-color: variables.$secondary-dark;
      &:hover {
        background-color: variables.$secondary-hover-dark;
      }
    }
  }
}

@mixin badge($theme) {
  @if ($theme == 'light') {
    background-color: variables.$secondary;
    color: variables.$secondary-foreground;
  } @else {
    background-color: variables.$secondary-dark;
    color: variables.$secondary-foreground-dark;
  }
}

@mixin underline-effect($theme, $accent, $height) {
  text-decoration: none;
  position: relative;

  &:after {
    bottom: 0;
    content: '';
    height: $height;
    left: 0;
    position: absolute;
    @if ($accent) {
      @if ($theme == 'light') {
        background: variables.$accent;
      } @else {
        background: variables.$accent-dark;
      }
    } @else {
      @if ($theme == 'light') {
        background: variables.$foreground;
      } @else {
        background: variables.$foreground-dark;
      }
    }
    transition: width 0.5s ease, left 0.5s ease;
    width: 0;
  }

  &:hover:after {
    width: 100%;
    left: 0;
  }
}
