$background: #ffffff;
$foreground: #000000;
$surface: #f8f9fa;
$accent: #1d78c7;
$primary: #228be6;
$primary-foreground: #ffffff;
$secondary: #e7f5ff;
$secondary-foreground: #1971c2;

$background-dark: #141517;
$foreground-dark: #ffffff;
$surface-dark: #1a1b1e;
$accent-dark: #4dabf7;
$primary-dark: #1971c2;
$primary-foreground-dark: #ffffff;
$secondary-dark: rgba(24, 100, 171, 0.45);
$secondary-foreground-dark: #d0ebff;
