@use '@styles/base/reset';
@use '@styles/utilities/variables';
@use '@styles/utilities/mixins';
@use '@styles/utilities/animations';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#main_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark {
  @include mixins.theme(
    variables.$background-dark,
    variables.$foreground-dark,
    variables.$bg-radial-color-dark
  );
}

.light {
  @include mixins.theme(
    variables.$background,
    variables.$foreground,
    variables.$bg-radial-color
  );
}

.section__full-screen {
  height: calc(100vh - 4.5rem);
  margin-top: 4.5rem;
  scroll-margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
