@use '@styles/base/reset';
@use '@styles/utilities/variables';
@use '@styles/utilities/mixins';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.dark {
  @include mixins.theme(variables.$background-dark, variables.$foreground-dark);
}

.light {
  @include mixins.theme(variables.$background, variables.$foreground);
}

.section__full-screen {
  height: calc(100dvh - 4.5rem);
  margin-top: 4.5rem;
  scroll-margin-top: 4.5rem; /* Agrega esta propiedad */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
