@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .section-container {
    @apply container flex flex-col justify-center items-center h-[calc(100vh-2.5rem)] scroll-mt-10 mt-10 px-2;
  }
  .section-title {
    @apply text-2xl md:text-3xl font-bold;
  }
}
