@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --font-sans: "Open Sans", sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility section-container {
  @apply container md:max-w-7xl flex flex-col justify-center items-center p-4 min-h-[calc(100dvh-3rem)] md:min-h-[calc(100dvh-3.5rem)] mt-12 md:mt-14 scroll-mt-12 md:scroll-mt-14;
}

@utility section-title {
  @apply text-4xl md:text-5xl font-bold pb-4;
}

@utility toggle-icon {
  @apply w-4 h-4 cursor-pointer;
}

@utility link-text {
  @apply text-primary font-semibold underline underline-offset-4 decoration-2 transition-colors duration-300  hover:text-foreground dark:hover:text-foreground;
}

@utility link-icon {
  @apply relative w-5 h-5 text-primary-foreground;
}

@utility primary-hover {
  @apply transition-colors duration-300 hover:bg-primary/90 dark:hover:bg-primary/90 hover:text-primary-foreground/90 dark:hover:text-primary-foreground/90;
}

@utility secondary-hover {
  @apply transition-colors duration-300 hover:bg-secondary/90 dark:hover:bg-secondary/90 hover:text-secondary-foreground/90 dark:hover:text-secondary-foreground/90;
}

@utility highlighted-text {
  @apply font-semibold;
}

@layer base {
  :root {
    --background: #f8f9ff;
    --foreground: #191c20;

    --primary: #006590;
    --primary-foreground: #ffffff;

    --accent: #0ea5e9;
    --accent-foreground: #ffffff;

    --secondary: #dde3ea;
    --secondary-foreground: #171c20;

    --card: #f0f5fa;
    --card-foreground: #171c20;

    --muted: #e0e2ec;
    --muted-foreground: #43474e;
    --border: #70777c;
    --input: #70777c;
    --ring: #006590;
  }

  .dark {
    --background: #090b0e;
    --foreground: #e2e2e6;

    --primary: #7ecaff;
    --primary-foreground: #003256;

    --accent: #38bdf8;
    --accent-foreground: #002b3d;

    --secondary: #263038;
    --secondary-foreground: #cde5ff;

    --card: #11161c;
    --card-foreground: #e2e2e6;

    --muted: #1f252b;
    --muted-foreground: #8d9199;
    --border: #40484f;
    --input: #40484f;
    --ring: #7ecaff;
  }
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    min-height: 100%;
  }
}
