@use '@styles/utilities/mixins';

.badge {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  min-width: fit-content;
  font-size: 1.2rem;
}

.light {
  @include mixins.badge('light');
}

.dark {
  @include mixins.badge('dark');
}

.card__content__badge {
  font-size: 1.2rem;
}

@media screen and (max-width: 640px) {
  .badge {
    font-size: clamp(1rem, 3vw, 1.2rem);
  }
  .card__content__badge {
    font-size: clamp(1.2rem, 3vw, 1.4rem);
  }
}

@media screen and (min-width: 641px) {
  .badge {
    font-size: clamp(1.2rem, 3.5vw, 1.4rem);
  }
  .card__content__badge {
    font-size: clamp(1.2rem, 3.5vw, 1.4rem);
  }
}
