@use '@styles/utilities/variables';
@use '@styles/utilities/mixins';

.badge {
  padding: 0.125rem 0.625rem;
  border-radius: 1.5rem;
  min-width: fit-content;
  font-size: 1.2rem;
}

.light {
  @include mixins.badge('light');
}

.dark {
  @include mixins.badge('dark');
}

.card__content__badge {
  font-size: 1rem;
}

@media screen and (min-width: 769px) {
  .badge {
    font-size: 1.4rem;
  }
  .card__content__badge {
    font-size: 1.2rem;
  }
}
