@use "@styles/utilities/variables";
@use "@styles/utilities/mixins";

.button {
  border: none;
  cursor: pointer;
  padding: 1.2rem;
  border-radius: 1.5rem;
  font-weight: 600;
  transition: all 200ms;
  text-align: center;

  &:active {
    transform: scale(0.98);
  }
}

.primary-light {
  @include mixins.button("primary", "light");
}

.secondary-light {
  @include mixins.button("secondary", "light");
}

.primary-dark {
  @include mixins.button("primary", "dark");
}

.secondary-dark {
  @include mixins.button("secondary", "dark");
}

@media screen and (min-width: 769px) {
  .button {
    font-size: 1.6rem;
  }
}
