@use '@styles/utilities/variables';

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  height: 35rem;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.card__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem 1rem;
  height: 50%;
}

.card__content__title__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__content__title {
  margin: 0;
}

.card__content__text {
  text-align: justify;
  font-size: 1.4rem;
  flex-grow: 1;
}

.card__image__wrapper {
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.card__image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__content__bagde__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.card__content__badge {
  .badge__text {
    font-size: 1.2rem;
  }
}

.card__links__wrapper {
  display: flex;
  gap: 1rem;

  a:hover {
    transform: scale(1.1);
  }
}

.light {
  background-color: variables.$card;
  //border: 1px solid variables.$card-border;
  .card__content__text {
    color: variables.$card-foreground;
  }
}

.dark {
  background-color: variables.$card-dark;
  // border: 1px solid variables.$card-dark;
  .card__content__text {
    color: variables.$card-foreground-dark;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 65rem;
    height: 40rem;
  }
}
