@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Roboto Flex", system-ui;
}

@media (max-width: 1023px) {
  .no-interact {
    overflow: hidden;
    pointer-events: none;
  }
}

.dark input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s;
  -webkit-text-fill-color: #e3e3e3;
}

.light input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s;
  -webkit-text-fill-color: #1f1f1f;
}
