html {
  height: 100vh;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 640px) {
  body {
    font-size: clamp(1.2rem, 3.5vw, 1.4rem);
  }
  h1 {
    font-size: clamp(3rem, 9vw, 3.6rem);
  }
}

@media screen and (min-width: 641px) {
  body {
    font-size: clamp(1.4rem, 3.5vw, 1.6rem);
  }
  h1 {
    font-size: clamp(4.5rem, 5vw, 5.7rem);
  }
}
